[Unit]
Description=bb_robot_client
After=network.target

[Service]
ExecStart=/home/<your_username>/prg/Ball-Balancing-Robot_CS/.venv/bin/python code/bb_robot_client.py
Environment="PATH=/home/<your_username>/prg/Ball-Balancing-Robot_CS/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
WorkingDirectory=/home/<your_username>/prg/Ball-Balancing-Robot_CS
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=default.target
