[Unit]
Description=bb_robot_client
After=network.target

[Service]
ExecStart=/home/sn/prg/my_ball_balancing_robot/.venv/bin/python code/bb_robot_client.py
Environment="PATH=/home/sn/prg/my_ball_balancing_robot/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
WorkingDirectory=/home/sn/prg/my_ball_balancing_robot
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=default.target
